header
{
    height: 100px;
    background-color: rgb(197, 233, 233);
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    z-index: 1000;

    h1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
    nav
    {
        height: 100px;
        background-color: #d5e3f1;
        width: 100%;
        
        float: left;
        display: flex;
        align-items: center;       
        .menubutton
        {
            background-color: #1174dd;
            margin-left: 10px;
            color: white;
            border-radius: 10px;

            &:hover
            {
                background-color: #0a57a8;
            }
        }
    }

}