header
{
    height: 100px;
    background-color: rgb(197, 233, 233);
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    z-index: 1000;
    nav
    {
        height: 100px;
        background-color: rgb(197, 233, 233);
        width: 100%;
        
        float: left;
        display: flex;
        align-items: center;

        .menubutton
        {
            background-color: aquamarine;
            margin-left: 10px;
            color: black;
            border-radius: 10px;

            &:hover
            {
                background-color: rgb(80, 172, 141);
            }
        }
    }

}